@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    @apply bg-[#f8f9fa] p-3 rounded-md 
    ring-gray-200 text-gray-800 text-sm 
    hover:ring-1 active:ring-gray-300
    focus:outline-none
    hover:shadow-md;
  }
 .link{
   @apply hover:underline cursor-pointer;
 }
}
